.taskCard {
  position: absolute;
  display: block;
}

.taskCardContent {
  font-size: 20px;
  line-height: 36px;
  cursor: grab;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.taskCardContent.done {
  background-color: #bfc;
}

.taskCardContent.doable {
  background-color: #fea;
}

.taskCardContent.blocked {
  background-color: #fb9;
}

.taskCardContent .textField {
  margin: 3px 0;
}

.taskCardContent .textField input {
  margin: 0;
}

.taskCardHandle {
  position: absolute;
  width: 30px;
  height: 24px;
  border-radius: 12px;
  z-index: -1;
  cursor: grab;
}

.taskCardHandle.done {
  background-color: #bfc;
}

.taskCardHandle.doable {
  background-color: #fea;
}

.taskCardHandle.blocked {
  background-color: #fb9;
}
