.taskCardBin {
  display: inline-block;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color: #fea;
  cursor: grab;
}

.taskCardBinContent {
  font-size: 20px;
  line-height: 36px;
  text-align: left;
}
