.taskCardBin {
  position: absolute;
  display: block;
  bottom: 20px;
  right: 20px;
  width: 160px;
  height: 100px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fea;
}

.taskCardBinContent {
  font-size: 20px;
  line-height: 36px;
}
